{% extends 'base.html.twig' %}

{% block title %}modification DVD{% endblock %}
{% block breadcrumbs %}
<script src="{{ asset('theme/assets/js/jquery.min.js')}}"></script>

        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">DVD</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion film</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">DVD</a></li>
                                            <li class="breadcrumb-item active">Modification</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr/>
                        {% endblock %}
{% block body %}


         <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

     <div class="row">
                  <div class="col-8">
                                       <h4 class="card-title"><i class="fa fa-angle-right"></i>Modifier DVD</h4>

</div>
  <div class="col-4">
                                            <a href="{{ path('d_v_d_index') }}" class="btn btn-secondary">Retour à la liste</a>

                                   </div>
                               </div>

    {{ include('dvd/_form.html.twig', {'button_label': 'Modifier'}) }}
  </div></div></div></div>
{% endblock %}
